<!-- Div hide/show -->
<script type="text/javascript">
function kuisin(idMyDiv){
     var objDiv = document.getElementById(idMyDiv);

     if(objDiv.style.display=="block"){ objDiv.style.display = "none"; }
     else{ objDiv.style.display = "block"; }
}

function feedlink(path,name){
	if(path.indexOf(name) != -1)
		return path;
	else
		return (name != "FrontPage") ? path+"/"+name : path+name;
}

var link;
</script>

<% for (i in mds) { %>

  <div class="panel panel-default">

	<div class="panel-heading">
	  <script>
	    link = feedlink(decodeURI(location.pathname),"<%=mds[i].name%>");
	  	document.write("<a href='/edit?path="+link+"'><b><%=mds[i].name%></b></a>"); 
	  </script>
	  
      <div style="float:right; display:inline-block">
		 <a href="#" onclick="kuisin('<%= i %>');">X</a>
	  </div>
    </div>


    <div id="<%= i %>" style="display:block">  
 	  <div class="panel-body">
	    <dd><%-mds[i].content%></dd>
 	  </div>
		
	  <div class="panel-footer">URL : 
	    <script>
	      link = feedlink(decodeURI(location.href),"<%=mds[i].name%>");
	      document.write("<a href='"+link+"'>"+link+"</a>");
	    </script>
	  </div>
	</div>

  </div> 

<% } %>

