  <script src="/codemirror/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

<main>
  <div class="section no-pad-bot">
    <% for (i in mds) { %>

      <div class="card">

        <div class="card-title teal-text" >
          <b><%=mds[i].name%></b>

          <div class="right" style="">
            <a class="teal-text dropdown-button" href="#" data-activates="dropdown">
              <i class="mdi-navigation-expand-more"></i>
            </a>
          </div>
        </div>

        <div class="card-content">
         <%-mds[i].content%>
        </div>

      </div>

      <ul id='dropdown' class='dropdown-content'>
        <li><a href='/editor/edit?path=<%=mds[i].path%>'><i class="mdi-editor-mode-edit"></i> Edit</a></li>
        <li class="divider"></li>
        <li><a href='<%= mds[i].urlpath %>' onclick="cp_Url(this.href); return false;"><i class="mdi-content-content-copy"></i> Cp Url</a></li>
        <li class="divider"></li>
        <li><a href="/editor/delMd?path=<%=mds[i].path%>"><i class="mdi-action-delete"></i> Del</a></li>
      </ul>

    <% } %>  
  </div>
</main>


<script>
  
  $(document).ready(function() {
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });

  $('.dropdown-button').dropdown({
      inDuration: 250,
      outDuration: 250,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on click
      alignment: 'right', // Aligns dropdown to left or right edge (works with constrain_width)
      gutter: 0, // Spacing from edge
      belowOrigin: false // Displays dropdown below the button
    }
  );

  function cp_Url(url) {
    var IE = (document.all) ? true:false;
    if (IE) {
      if(confirm("이 피드의 주소를 복사하시겠습니까?"))
        window.clipboardData.setData("Text", url);
    } else {
      temp = prompt("이 피드의 주소입니다. Ctrl+C를 눌러 복사하세요", url);
    }
  }

</script>