
<% for (i in mds) { %>	
	<div class='mds'>
		<dl>
			<dt><b><%=mdname[i]%></b></dt>
			<dd><%-mds[i]%></dd>
		</dl>
		<div class='link'>URL : 
			<script type="text/javascript">
				var currentPage = location.href;

				if(currentPage.indexOf(encodeURIComponent("<%=mdname[i]%>")) != -1)
					currentPage = location.href.substring(0,location.href.lastIndexOf("/"));
				document.write("<a href='"+currentPage+"/<%=mdname[i]%>'>"+currentPage+"/<%=mdname[i]%></a>");
			</script>
		</div> 
	</div>

<% } %>


