<!-- Div hide/show -->
<script type="text/javascript">
function kuisin(idMyDiv){
     var objDiv = document.getElementById(idMyDiv);

     if(objDiv.style.display=="block"){ objDiv.style.display = "none"; }
     else{ objDiv.style.display = "block"; }
}

function feedlink(path,name){
	if(path.indexOf(name) != -1)
		return path;
	else
		return (name != "FrontPage") ? path+"/"+name : path+name;
}

var link;
</script>


<div class="contents">

<% for (i in mds) { %>
  <div class="panel">

	<div class="panel-header">
	  <a href='/edit?path=<%=mds[i].path%>'><b><%=mds[i].name%></b></a> 

      <div style="float:right; display:inline-block">
		 <a href="#" onclick="kuisin('<%= i %>');">O</a>
	  </div>
    </div>


    <div id="<%= i %>" style="display:block">  
 	  <div class="panel-body">
	    <%-mds[i].content%>
 	  </div>
		
	  <div class="panel-footer">URL : 
	    <script>
	      link = feedlink(decodeURI(location.href),"<%=mds[i].name%>");
	      document.write("<a href='"+link+"'>"+link+"</a>");
	    </script>
	  </div>
	</div>

  </div>
<% } %>  

</div>



