<!-- Div hide/show -->
<script type="text/javascript">
function kuisin(idMyDiv){
     var objDiv = document.getElementById(idMyDiv);

     if(objDiv.style.display=="block"){ objDiv.style.display = "none"; }
     else{ objDiv.style.display = "block"; }
}

var link;
</script>


<div class="contents">

<% for (i in mds) { %>
  <div class="panel">

	<div class="panel-header">
	  <a href='/editor/edit?path=<%=mds[i].path%>'><b><%=mds[i].name%></b></a> 

      <div style="float:right; display:inline-block">
		 <a class="hide" href="#" onclick="kuisin('<%= i %>');">O</a>
	  </div>
  </div>


  <div id="<%= i %>" style="display:block">  
 	<div class="panel-body">
	    <%-mds[i].content%>
 	</div>
		
 	<div class="panel-footer">URL : 
    	<script>
      		link = decodeURI("http://" + location.host + 
      		(("<%=mds[i].name%>" == "FrontPage") ? "" : "<%=mds[i].urlpath%>"));
      		document.write("<a href='"+link+"'>"+link+"</a>");
    	</script>
  	</div>
  </div>
  
  </div>
<% } %>  

</div>



