<header>
  <!--네비게이션 상단-->
  <nav class="nav teal">
    <div class="nav-wrapper teal">
      <% pgtitle_here = pgtitle %>
      <% if( pgtitle.length > 12) { %>
      <%    pgtitle_here = pgtitle.slice(0,12) + ".." %>
      <% } %>
      <a class="brand-logo center "><b><%= pgtitle_here %></b></a>
    </div>
  </nav>

  <!--슬라이드네비 on/off 버튼 -->
  <div class="container">
    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav">
      <i class="mdi-navigation-menu"></i>
    </a>
  </div>

  <!--슬라이드네비 BOOK 리스트 -->
    <ul id="nav-mobile" class="side-nav fixed" style="overflow: auto; transform: translateX(0px);">
      <li class="logo no-padding" >
        <a id="logo-container" href="/" class="brand-logo"> 
         <img src="/img/logo.png" />
        </a>
      </li>

      <% for (i in books) { %>
            <li id="<%=books[i].title%>" class="list bold">
              <a href='/<%=books[i].title%>' class="waves-effect waves-teal"><%=books[i].title%></a>
            </li>
            <% if(books[i].title == pgbook){ %>
            <ul><% for (i in pgchapters) { %>  
                    <li id="<%=pgchapters[i].title%>" class="list">
                    <a href="/<%=pgchapters[i].path%>" class="waves-effect waves-teal chapter">
                       &nbsp;> <%=pgchapters[i].title%>
                    </a>
                    </li>
            <% } %>
            </ul>
	    <% } %>
      <% } %>

  <!--로그인 모달-->
  <li class="for-set" style="padding-top: 1rem">&nbsp;</li>
  <div class="set"> 
       <li class="list bold center"><a href="#signin" id="signin" style="font-size:1.25rem;">
       <i class="mdi-action-verified-user"></i> Sign in </a></li>
  </div>
  </ul>

   <div id="signin-modal" class="modal container">
   <div class="modal-content">
     <h4>Sign in</h4>
       <div class="row">
       <div class="input-field col s12">
         <input id="user_id" name="user_id" type="text" class="validate">
         <label for="id">ID</label>
       </div>
       <div class="input-field col s12">
         <input id="user_passwd" name="user_passwd" type="password" class="validate">
         <label for="passwd">PASSWORD</label>
       </div>
       </div>
   </div>
   <div class="modal-footer">
     <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Sign in</a>
   </div>
  </div>

</header>
