<script> var link = ""; </script>

<style>
.subdir{
background-color: #fff;
border-top: 1px solid #e7e7e7;
border-bottom: 1px solid #e7e7e7;
margin-top: 50px;
}
</style>

<!--프로젝트 리스트를 보여주는 상단 네비게이션바 -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
 
  <div class="navbar-header">
    <a class="navbar-brand" href="/">WikiLite</a>
  </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar">
      	<% for (var i=0; i<dirs.length; i++) { %>
			<li><a href='/<%=dirs[i]%>'><%=dirs[i]%></a> </li>
		<% } %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      	<%-add%>
      </ul>
    </div><!--/.nav-collapse -->
</nav>

<!--하위 디렉토리 리스트를 보여주는 하단 네비게이션바 -->
<nav class="navbar navbar-foot navbar-fixed-top subdir" role="navigation">
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
  	<ul class="nav navbar-nav">
	  <% for(i in dirList[1]) { %>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown">
				<% if(dirList[0][i]) {%> 
					<%=dirList[0][i]%>
				<% }else {%>
					SubDirs <% } %> 
				<b class="caret"></b>
			</a>
			
			<ul class="dropdown-menu" role="menu">
			  <% for(j in dirList[1][i]) {%>
			  	<li>
			  		<script> document.write('<a href="',link+'/<%= dirList[1][i][j] %>">'); </script>
			  			<%= dirList[1][i][j] %>
			  		</a>
			  	</li>
			  <% } %>
			</ul>
		</li>
		<script> link += "/<%= dirList[0][i] %>"; </script>
	  <% } %>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
  </div>

</nav>

