<main>
  <div class="section no-pad-bot">
    
    <!--카테고리 Depth 표시-->
    <% if (path.length > 0) { %>
    <% spd_path = path.split('\/'); path_stack = "";%>      
     <% for (i in spd_path) { %>
    <% path_stack += '/' + spd_path[i]%>
       <a href="<%=path_stack%>"><b> > <%=spd_path[i]%></b></a>
    <% } %><br><br>
    <% } %>    

    <% if (addable == true) { %>
       <!--새로운 피드 ADD 버튼 -->
       <div class="card">
         <div class="card-content">
          <% if(locals.path){ %>
            <center><a href="/edit/add?path=<%= path %>"><h4>+</h4></a></center>
          <% } %>
         </div>
       </div>    
    <% } %>

    <!--메인 피드-->
    <% for (i in pages) { %>
      <div class="card">
        <div class="card-title teal-text" >
                <a href="/<%=pages[i].path%>"><b><%=pages[i].title%></b></a>
        </div>
        <div class="card-content">
                <%-pages[i].content%>
        </div>
        <div class="card-action">
                <a href='/edit/edit?path=<%=pages[i].path%>'><i class="mdi-editor-mode-edit"></i> <small>Edit</small></a>&nbsp;
                <a href="/edit/del?path=<%=pages[i].path%>"><i class="mdi-action-delete"></i> <small>Del</small></a>&nbsp;
                <a href='/<%= pages[i].path %>' onclick="cp_Url(this.href); return false;"><i class="mdi-content-content-copy"></i> <small>Url</small></a>&nbsp;
        </div>
      </div>
    <% } %>  
  </div>
</main>

